.cart {
    cursor: pointer;
    position: relative;
}

/*span {
    position: absolute;
    top: -12px;
    background-color: var(--title);
    color: var(--white-color);
    padding: 3px 5px;
    border-radius: 50%;
    
}*/

table {
    width: 100%;
    border-collapse: collapse;
}

.cart_info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: center;
    padding: 6px;
    background: var(--title);
    color: #fff;
}

td {
    padding: 10px 5px ;
}

td img {
    width: 80px;
    height: 100px;
    margin-right: 10px;
}