.itemDetail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.itemDetail img {
   width: 250px;
    
}

.btn {
    display: inline-block;
    background: var(--title);
    color: var(--white-color);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn:nth-child(2){
    margin-left: 10px;
}


.itemDetail h1{
    font-size: 4rem;
    line-height: 6rem;
}

.itemDetail h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    color: var (--link);
}

.itemDetail select {
    display: block;
    padding: 10px;
    border: 1px solid var(--title);
}

.itemDetail select:focus {
    overflow: none;
}
