p {
    color: var(--link);
}

.main {
    background: radial-gradient(#fff, #ffd6d6);
    padding: 38px 25px;
    
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.col_2 img {
    padding: 50px 0;
    max-width: 100%;
}

.col_2 h1 {
    font-size: 5rem;
    line-height: 6rem;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    background: var(--title);
    color: var(--white-color);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    

    transition: background 0.5s;
}

.btn:hover {
    background: #B9DADD;
    color: black;
}

.home {
    background: radial-gradient(#fff, #ffd6d6);
    
}