.sectionHome {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sectionHome div:nth-of-type(1) {
    order: 2;
}

.sectionHome div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sectionHome h1{
    font-weight: 700;
}

.sectionHome h2{
    color: #317e85;
    font-weight: 700;
    font-size: 1.9rem;
}

.sectionHome span{
    font-weight: 500;
}

.sectionHome a {
    background: var(--dark-color);
    color: var(--white-color);
    border-radius: 2rem;
    padding: 1rem 0.2rem;
    text-align: center;
    margin-top: 2rem;
}



