
.itemCount{
    display: flex;
    align-items: center;
    margin-top: 20px;
   
}

.itemCount span{
    border: 1px solid cornflowerblue;
    cursor: pointer;
    padding: 0.11rem 0.9rem;
    margin: 1rem;
    border-radius: 2rem;
}


