
.itemCount > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemCount span{
    border: 1px solid cornflowerblue;
    cursor: pointer;
    padding: 0.11rem 0.9rem;
    margin: 1rem;
    border-radius: 2rem;
}

